<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Minuteur</title>
        <font color="#7AD7F0">
        <h1 align="center">Message du site</align></h1>
        </font>
        <style>
            body  {
              background-image: url("paper.gif");
              background-color: #949494;
            }
        </style>
    </head>
    <body>
        <p><strong>L'alarme est affiché sur votre écran LCD. Si cela n'est pas le cas suivre les étapes décrites en-bàs:</strong></p>
        <p><i><strong>Pour afficher l'alarme sur l'écran LCD soyez sûr que:</strong></i></p>
        <p>-L'écran LCD soit branché correctement au raspberry,</p>
        <p>-Le buzzer soit branché correctement au raspberry</p>
        <p>-Que le bouton rotatif soit branché correctement au raspberry</p>
        <p>-Que le bouton à pression soit branché correctement au raspberry</p>
        <p>-Que le fichier app.py est ouverte et qu'il est dans le même dossier que la page et le fichier Projet.py</p>
        <p><i>*Si l'alarme ne s'affiche encore pas, veuillez lancer la fonction alarme(h, m) python manuellement.</i></p>
    </body>
</html>

