<!DOCTYPE html>
<html>
    <font color="#7AD7F0">
        <head>
            <meta charset="UTF-8" />
            <title>Alarme</title>
            <h1 align="center"><strong>Bienvenue à la page de l'alarme</strong></h1>
            <link rel="stylesheet" href="Projet.css">
            <style>
                body  {
                background-image: url("paper.gif");
                background-color: #949494;
                }
            </style>
        </head>
    </font>
    <body>
        <form action="alarmeredirect.html" method="post">  
            <p>Pour mettre en place un alarme, entrez l'heure et le minute que vous voulez. 
            Ensuite, cliquez sur le bouton lancer:
            <label for="heure"></label>
            <input type="text" id="Heure" name="Heure" placeholder="Heure"> 
            <label for="minute"></label>
            <input type="text" id="Minute" name="Minute" placeholder="Minute"> 
            <button type="submit">Lancer</button></p>
    </body>
</html>