<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <font color="#7AD7F0">
        <head>
            <meta charset="UTF-8" />
            <title>Chronomètre</title>
            <h1 align="center"><strong>Bienvenue à la page du chronomètre</strong></h1>
            <link rel="stylesheet" href="Projet.css">
            <style>
                body  {
                background-image: url("paper.gif");
                background-color: #949494;
                }
            </style>
        </head>
    </font>
    <body>
        <form action="chronometreredirect.html" method="post">  
            <p>Pour lancer le chronomètre, cliquez sur le bouton lancer: 
            <button type="submit">Lancer</button></p>
    </body>
</html>