<!DOCTYPE html>
<html>
    <head>
        <title>Heure</title>
        <meta charset="UTF-8">
        <font color="#7AD7F0">
        <h1 align="center"><strong>Bienvenue à la page de l'heure</strong></h1>
        </font>
        <link rel="stylesheet" href="Projet.css">
        <style>
            body  {
              background-image: url("paper.gif");
              background-color: #949494;
            }
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>Document</title>
        <h1>La date et l'heure est:  <span id="time"> </span></h1>
        <script src="Heure.js">   </script>
    </head>
</html>