<!DOCTYPE html>
<html>
    <font color="#7AD7F0">
        <head>
            <meta charset="UTF-8" />
            <title>Montre Connectée</title>
            <link rel="stylesheet" href="../Static/Projet.css"/>
            <h1 align="center"><strong>Montre Connectée</strong></h1>
            <style>
                body  {
                background-image: url("paper.gif");
                background-color: #949494;
                }
            </style>
        </head>
    </font>
    <body>
        <p><strong>Bienvenue à la site de notre montre connectée.</strong>
        <br>Dans ce site, vous pouvez controlé votre montre et accéder à divers services à partir des liens proposés en bàs.
        </p>
        <br>Pour afficher l'heure cliquez ce lien: <a href="heure.html">Afficher l'heure</a>
        <br>Pour mettre en place un minuteur, cliquez ce lien: <a href="minuteur.html">Mettre en place un minuteur</a>
        <br>Pour mettre en place un alarme, cliquez ce lien: <a href="alarme.html">Mettre en place un alarme</a>
        <br>Pour mettre en place un chronomètre, cliquez ce lien: <a href="chronometre.html">Afficher le chronomètre</a>
        <br>Pour afficher la température, cliquez ce lien: <a href="temperature.html">Afficher la température</a>                        
    </body>
</html>