<html>
    <head>
        <meta charset="UTF-8" />
        <title>Température</title>
        <font color="#7AD7F0">
        <h1 align="center">Message du site</h1>
        </font>
        <style>
            body  {
            background-image: url("paper.gif");
            background-color: #949494;
            }
        </style>
    </head>
    <body>
        <p><strong>Pour afficher la température soyez sûr que:</strong></p>
        <p>-Le capteur de température est branché correctement au raspberry,</p>
        <p><i>*Si la température ne s'affiche encore pas, veuillez lancer la fonction temp() python manuellement.</i></p>
    </body>
</html>